page-apply-leave {
  .submitbutton{
    height:40px !important;
  }.select-md,.select-ios{
     padding: 0px !important;
   }.item-md .item-button{
      padding: 25px 20px;

    }.label{
       margin:20px 0 0 0 !important;
     }.select-md .select-icon {
        position: relative;
        width: 25px;
        /* height: 18px; */
      }

  @media(min-width:768px){
    .formdesign .item {
      margin-bottom: 20px;
    } .formdesign .item .item-inner{
        padding-bottom: 15px;
      }
  }
}
