<ion-content class="content bgpage">
<!--  <ion-row class="tableView">-->
    <div class="tableCellView">
      <h1 class="logo">Forgot Password</h1>
      <p class="description">Please Enter your registered Email ID or Mobile Number</p>
      <p class="description">An OTP will be sent to the same to complete the process</p>
      <div class="userForm">
        <form [formGroup]="user" novalidate>
          <ion-list>

            <ion-item class="listClass">
              <ion-label class="iconClass">
                <ion-icon name="mail"></ion-icon>
              </ion-label>
              <ion-input type="number" formControlName="username" placeholder="Phone Number">
              </ion-input>
            </ion-item>
            <div class="error" *ngIf="user.get('username').hasError('required') && user.get('username').touched">
              <p>Phone Number is required!</p>
            </div>
            <div class="error" *ngIf="user.get('username').hasError('pattern') && user.get('username').touched">
              <p>Phone Number must be of 10 digits and should start with 7,8 or 9! (e.g. 9650223854)</p>
            </div>

            <ion-item class="listClass">
              <ion-label class="iconClass">
                <ion-icon name="lock-closed"></ion-icon>
              </ion-label>
              <ion-input type="password" formControlName="password" placeholder="New Password">
              </ion-input>
            </ion-item>
            <div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
              <p>Password is required</p>
            </div>
            <div class="error" *ngIf="user.get('password').hasError('minlength') && user.get('password').touched">
              <p>Please enter a minimum 8 character password</p>
            </div>
            <div class="error" *ngIf="user.get('password').hasError('pattern') && user.get('password').touched">
              <p>New Password must contain atleast one capital alphabet, one numeric character,
                one special character, must not contain spaces and must start with a letter or digit</p>
            </div>

            <ion-item class="listClass">
              <ion-label class="iconClass">
                <ion-icon name="lock-closed"></ion-icon>
              </ion-label>
              <ion-input type="password" formControlName="confirmation_password" placeholder="Confirm Password">
              </ion-input>
            </ion-item>
            <div class="error"
                 *ngIf="user.get('confirmation_password').hasError('required') && user.get('confirmation_password').touched">
              <p>Confirm Password is required</p>
            </div>
            <div class="error"
                 *ngIf="user.get('confirmation_password').hasError('minlength') && user.get('confirmation_password').touched">
              <p>Please enter a minimum 8 character password</p>
            </div>
          </ion-list>

          <ion-button expand="block" class="submitbutton" color="dark" type="submit" [disabled]="user.invalid"
                  (click)="forgotPasswordService(user)">Submit
          </ion-button>
        </form>
        <div class="secondary">
          <button ion-button clear block color="dark" class="lightBtn" (click)="goToLogin()">Back to Login?</button>
        </div>
      </div>
    </div>
<!--  </ion-row>-->
</ion-content>
